@media screen and (max-width: 700px)

{
	.changefoot{
		display: flex;
		flex-direction: column;
	}
	.foot{
		margin-bottom: 70px;
		margin-top: 90px;
	}
	.margin, .gras{
		font-size: 37px;
		margin-bottom: 30px;
	}
	.dimact{
		display: flex;
		flex-direction: column;
		margin-bottom: 80px;
		margin-top: 25px;
	}
	.aub3{
		font-size: 40px;
		margin-bottom: 20px;
		margin-left: 40px;
	}
	.ombre{
		padding-bottom: 40px;
		border-radius: 50px;
		box-shadow: 5px 5px 20px #F2F2F2;
		margin: 40px;
	}
	.titreact{
		font-size: 46px;
	}
	.Afficherplus{
		font-size: 38px;
	}
	.photo4, .photo5{
		width: 100%;
		height: 300px;
		margin-bottom: 30px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}
	.contient{
		display: flex;
		flex-direction: column-reverse;
		width: 323%;
	}
	.popu{
		border-radius: 0px;
	}
	.photo3{
		width: 320px;
		height: 350px;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		padding: 6px;
	}
	.pluspopu{
		border-radius: 45px;
		width: 100%;
	}
	.heberge{
		background-color: white;
	}
	.dimheberge{
		display: flex;
		flex-direction: column;
		margin-top: 0px;
		margin-left: 0px;
		width: 81%;
	}
	.photo2{
		width: 109%;
		height: 300px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}
	.aub2{
		font-size: 40px;
	}
	h2{
		font-size: 35px;
	}
	.fa-star, .stargrey
	{
		font-size: 30px;
	}
	.etoilebas{
		margin-top: 116px;
	}
	.etoilebas2{
		margin-top: 139px;
	}
	.aub1{
		margin-left: 35px;
		padding-bottom: 23px;
		padding-top: 20px;
	}
	.marseille
	{
		font-size: 46px;
	}
	.auberge{
		width: 120%;
		border-radius: 50px;
		margin-bottom: 40px;
		margin-top: 50px;
	}
	.pluspopulaire{
		font-size: 46px;
		padding-top: 40px;
	}
	.fa-chart-line{
		font-size: 46px;
		padding-top: 40px;
	}
	.logi{
		font-size: 20px;
	}
	.fa-info{
		font-size: 30px;
		margin-right: 10px;
		padding-bottom: 60px;
		border-radius: 100%;
		border-style: solid;
		border-width: 4px;
		border-color: #F2F2F2;
		padding: 15px;
	}
	.fa-dog, .fa-child, .fa-heart, .fa-money-bill-wave{
		font-size: 46px;
		padding: 30px;
		margin-left: -9px;
	}
	.fa-map-marker-alt{
		font-size: 45px;
		padding: 42px;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.reche{
		font-size: 45px;
		border-radius: 25px;
		padding: 37px;

	}
	.tour {
		font-size: 20px;
		border-width: 3px;
		margin-bottom: 15px;
		margin-left: 20px;
	}

	.tour1{
		width: 37%;

	}

	.tour2{
		width: 30%;
	}

	.tour3{
		width: 35%;
	}

	.tour4{
		width: 45%;
	}
	.barrerecherche{
		width: 65%;
	}
	.filtres{
		font-size: 40px;
		margin-left: 93px;
		margin-bottom: 30px;
	}
	.Recherche{
		width: 306%;
		height: 126px;
		border-radius: 50px;
		margin-top: 67px;
		border-width: 3px;
		margin-bottom: 63px;
		margin-left: 37px;
	}
	.barrerecherche{
		font-size: 50px;
	}
	.bonaligne{
		font-size: 53px;
		width: 145%;
	}
	.bonaligne2{
		font-size: 42px;
	}
	.logo1{
		width: 250px;
		height: 250px;
		display: flex;
	}
	.haut
	{
		display: flex;
		flex-direction: column;
	}
	.margehaut2{
		margin-top: -160px;
		font-size: 41px;
		margin-left: -270px;
	}
	.margehaut{
		font-size: 41px;
		margin-left: -48px;
		margin-right: 0px;
	}
	.margehaut3{
		font-size: 41px;
		margin-bottom: 80px;
	}
	.heblue{
		border-top-style: none;
		padding-bottom: 19px;
		padding-left: 150px;
		padding-right: 110px;

	}
	.heblue:hover{
		border-top-style: none;
		border-bottom-style: solid;
		border-width: 8px;
		border-color: #0065FC;
		padding-bottom: 19px;
		padding-left: 150px;
		padding-right: 110px;
	}

	.dimpopu{
		padding-bottom: 70px;
		padding-top: 40px;
	}
	.only-desktop{
        display: none;
    }
    .only-mobile{
        display: inline-block;
    }
    .plus{
    	font-size: 40px;
    	width: 300%;
	}
	.long{
		display: flex;
		flex-direction: column;
		margin-left: -80px;
		width: 298%;
	}
	.tour{
		margin-left: 60px;
		font-size: 33px;
	}
	.footsize{
		width: 330%;
	}
	.actsize{
		width: 288%;
	}
	.photo1{
		width: 91%;
	}
	.headsize{
		width: 216%;
	}
}
