h1, .marseille, .pluspopulaire, .titreact
{
	font-size: medium;
}

h2, h5, .Affiche, .changefoot, .Afficherplus, .bonaligne2
{
	font-size: small;
}
@font-face
{
	font-family:'raleway_light';
	src: url('../Police/Raleway-ExtraLight.ttf');
}

h2, .Affiche, .changefoot, .bonaligne2
{
	font-family:'raleway_light';
}

@font-face 
{
	font-family:'raleway_gras';
	src: url('../Police/Raleway-Bold.ttf');
}

h1, h3, h4, .bas, label, .gras, .sublue, .barrerecherche, .aub2, .Afficherplus, .aub3, .marseille, .pluspopulaire, .titreact
{
	font-family: 'raleway_gras';
}
h4, .bas
{
	font-size: small;
}

.haut
{
	display: flex;
	justify-content: space-between;
}

.long
{
	font-size: small;
	display: flex;
	list-style-type: none;
}

.longueur
{
	font-size: small;
	display: flex;
	list-style-type: none;
}

.filtres
{
	margin-top: 15px;
}

.plus
{
	margin-top: 35px;
	margin-bottom: 10px;
	margin-left: 20px;
}

.Affiche
{
	display: flex;
	justify-content: space-between;
}

.margehaut
{
	margin-left: 50px;
	margin-right: 40px;
}

.margehaut2
{
	margin-left: 50px;
	margin-right: 40px;
}

.heberge
{
	background-color: #F2F2F2;
	border-radius: 15px / 15px;
	margin: 17px;
}

.popu
{
	background-color: #F2F2F2;
	border-radius: 15px / 15px;
	margin-left: 10px;
}

footer
{
	background-color: #F2F2F2;
}

.foot
{
	list-style-type: none;
	margin-bottom: 20px;
}

.changefoot
{
	display: flex;
	justify-content: space-between;
	width: 65%
}

a, .foot 
{
	text-decoration: none;
	color: black;
}

.margin
{
	margin-bottom: 5px;
}

.sublue, .heblue
{
	color: #0065FC;
}

.heblue
{
	border-top-style: solid;
	border-width: 2px;
	border-color: #0065FC;
	padding-top: 19px;
	padding-left: 20px;
	padding-right: 20px;
}

.fa-info
{
	font-size: 7px;
	color: #0065FC;
	margin-right: 5px;
	border-radius: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #F2F2F2;
	padding: 3px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
	color: #0065FC;
	font-size: 18px;
	margin-right: 10px;
	margin-left: -5px;
	border-radius: 100%;
	background-color: #deebff;
	padding: 10px;
}

.fa-map-marker-alt
{
	margin-right: 5px;
	margin-left: -1px;
	font-size: 12px;
	background-color: #F2F2F2;
	padding: 12px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.reche
{
	margin-left: 16px;
	font-size: 12px;
	background-color: #0065FC;
	color: white;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	padding: 12px;
}

.tour1
{
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	padding-right: 18px;
	padding-left: 4px;
	border-radius: 100px;
	margin-left: 60px;
}

.tour2
{
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	padding-right: 18px;
	padding-left: 4px;
	border-radius: 100px;
	margin-left: 60px;
}

.tour3
{
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	padding-right: 18px;
	padding-left: 4px;
	border-radius: 100px;
	margin-left: 60px;
}

.tour4
{
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	padding-right: 18px;
	padding-left: 4px;
	border-radius: 100px;
	margin-left: 60px;
}

.Recherche
{
	border-style: solid;
	border-color: #F2F2F2;
	border-width: 1px;
	border-radius: 15px;
	width: 302px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 25px;
}

.photo2
{
	width: 220px;
	height: 110px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin: -26px;
}

.dimheberge
{
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: space-between;
	margin-bottom: 12px;
}

.heberge
{

	width: 79%;
	padding-top: 20px;
}

.contient
{
	display: flex;
	width: 99%;
	margin-bottom: 40px;
}

.photo1
{
	margin: 30px;
}

.dimpopu
{
	display: flex;
	flex-direction: column;
}

.auberge
{
	border-radius: 15px;
	background-color: white;
	box-shadow: 2px 2px 10px grey;
	margin: 17px;
}

.aub1
{
	margin-left: 10px;
	flex-wrap: nowrap;
}

.aub2
{
	font-size: small;
}
.aub3
{
	font-size: small;
	margin-left: 15px;
}

.fa-star
{
	color: #0065FC;
	font-size: 11px;
	margin-bottom: 10px;
}

.gras
{
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 30px;
}

.photo3
{
	width: 125px;
	height: 128px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.pluspopu
{
	border-radius: 15px;
	background-color: white;
	display: flex;
	padding-top: 3px;
	padding-left: 3px;
	box-shadow: 2px 2px 10px grey;
	margin: 20px;
	margin-bottom: 25px;
	width: 90%;
}

.dimact
{
	display: flex;
	justify-content: space-between;
	width: 107%;
	margin-left: -40px;
	margin-top: -20px;
}

.photo4
{
	width: 280px;
	height: 420px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-bottom: 10px;
}
.photo5
{
	width: 280px;
	height: 150px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-bottom: 10px;
}

.dimact2
{
	display: flex;
	flex-direction: column;
}

.logopopu
{
	display: flex;
	justify-content: space-between;
}
.ombre
{
	box-shadow: 2px 2px 10px #F2F2F2;
	border-radius: 15px;
	margin: 40px;
	padding-bottom: 10px;
}

.titreact
{
	margin-bottom: -20px;
}
.marseille
{

	margin-left: 16px;
}
.Afficherplus
{
	margin-left: 16px;
}
.pluspopulaire
{
	margin-top: 36px;
	margin-bottom: -1px;
	margin-left: 20px;
}
.fa-chart-line
{
	margin-top: 36px;
	margin-right: 10px;
}
.etoilebas
{
	margin-top: 34px;
}
.etoilebas2
{
	margin-top: 46px;
}
.stargrey
{
	color: #F2F2F2;
}
.bonaligne
{
	margin-left: 20px;
}
.bonaligne2
{
	margin-left: 20px;
}
.barrerecherche
{
	border: none;
}
.tour1:hover
{
	background-color: #0065FC;
}
.tour2:hover
{
	background-color: #0065FC;
}
.tour3:hover
{
	background-color: #0065FC;
}
.tour4:hover
{
	background-color: #0065FC;
}
.only-mobile
{
	display: none;
}
@media screen and (max-width: 1000px)
{
	.changefoot{
		display: flex;
		flex-direction: column;
	}
	.foot{
		margin-bottom: 70px;
		margin-top: 90px;
	}
	.margin, .gras{
		font-size: 35px;
		margin-bottom: 30px;
	}
	.dimact{
		display: flex;
		flex-direction: column;
		margin-bottom: 80px;
		margin-top: 25px;
	}
	.aub3{
		font-size: 35px;
		margin-bottom: 20px;
		margin-left: 40px;
	}
	.photo4, .photo5
	{
		margin-bottom: 30px;
	}
	.ombre{
		padding-bottom: 40px;
		border-radius: 50px;
		box-shadow: 5px 5px 20px #F2F2F2;
		margin: 40px;
	}
	.titreact{
		font-size: 45px;
	}
	.Afficherplus{
		font-size: 40px;
	}
	.photo4, .photo5{
		width: 100%;
		height: 300px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}
	.contient{
		display: flex;
		flex-direction: column-reverse;
	}
	.popu{
		border-radius: 0px;
	}
	.photo3{
		width: 320px;
		height: 350px;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		padding: 6px;
	}
	.pluspopu{
		border-radius: 45px;
	}
	.heberge{
		background-color: white;
	}
	.dimheberge{
		display: flex;
		flex-direction: column;
	}
	.photo2{
		width: 840px;
		height: 300px;
		border-top-left-radius: 50px;
		border-top-right-radius: 50px;
	}
	.aub2{
		font-size: 35px;
	}
	h2{
		font-size: 30px;
	}
	.fa-star, .stargrey
	{
		font-size: 25px;
	}
	.etoilebas{
		margin-top: 140px;
	}
	.etoilebas2{
		margin-top: 180px;
	}
	.aub1{
		margin-left: 35px;
		padding-bottom: 23px;
		padding-top: 20px;
	}
	.marseille
	{
		font-size: 45px;
	}
	.auberge{
		width:850px;
		border-radius: 50px;
		margin-bottom: 40px;
		margin-top: 50px;
	}
	.pluspopulaire{
		font-size: 45px;
		padding-top: 40px;
	}
	.fa-chart-line{
		font-size: 50px;
	}
	.logi{
		font-size: 20px;
	}
	.fa-info{
		font-size: 10px;
		margin-right: 10px;
		padding-bottom: 60px;
		border-radius: 100%;
		border-style: solid;
		border-width: 4px;
		border-color: #F2F2F2;
		padding: 15px;
	}
	.long{
		display: flex;
		flex-direction: column;
		margin-left: -80px;
	}
	.tour1{
		width: 35%;
		font-size: 35px;
		border-width: 5px;
		margin-bottom: 30px;
	}
	.tour2{
		width: 30%;
		font-size: 35px;
		border-width: 5px;
		margin-bottom: 30px;
	}
	.tour3{
		width: 35%;
		font-size: 35px;
		border-width: 5px;
		margin-bottom: 30px;
	}
	.tour4{
		width: 45%;
		font-size: 35px;
		border-width: 5px;
		margin-bottom: 30px;
	}
	.fa-dog, .fa-child, .fa-heart, .fa-money-bill-wave{
		font-size: 40px;
		padding: 30px;
		margin-left: -9px;
	}
	.filtres{
		font-size: 35px;
		padding-bottom: 35px;
		margin-left: 70px;
	}
	.fa-map-marker-alt{
		font-size: 40px;
		padding: 40px;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
	}
	.reche{
		font-size: 40px;
		border-radius: 50px;
		padding: 38px;

	}
	.Recherche{
		width: 85%;
		height: 120px;
		border-radius: 50px;
		margin-top: 70px;
		border-width: 4px;
		margin-bottom: 80px;
		margin-left: 70px;
	}
	.barrerecherche{
		font-size: 50px;
	}
	.bonaligne{
		font-size: 25px;
	}
	.bonaligne2{
		font-size: 14px;
	}
	.logo1{
		width: 250px;
		height: 250px;
		display: flex;
	}
	.haut
	{
		display: flex;
		flex-direction: column;
	}
	.margehaut2{
		margin-top: -160px;
		font-size: 40px;
		margin-left: -270px;
	}
	.margehaut{
		font-size: 40px;
		margin-bottom: 80px;
		margin-left: -55px;
	}
	.heblue{
		border-top-style: none;
		border-bottom-style: solid;
		border-width: 8px;
		border-color: #0065FC;
		padding-bottom: 19px;
		padding-left: 150px;
		padding-right: 110px;

	}
	.subgrey{
		border-bottom-style: solid;
		border-width: 8px;
		border-color: #F2F2F2;
		padding-bottom: 19px;
		padding-left: 150px;
		padding-right: 180px;
	}
	.dimpopu{
		padding-bottom: 70px;
		padding-top: 40px;
	}
	.only-desktop {
        display: none;
    }

    .only-mobile {
        display: inline-block;
    }
    .plus{
    	font-size: 22px;
    }



