@media screen and (max-device-width: 1023px)
{

.contient{
	width: 100%;
	flex-direction: column-reverse;
}

.heberge{
	width: 85%;
}
.dimact{
	width: 108%;
	flex-wrap: wrap;
}
.tour{
	margin-left: 10px;
}
.heblue{
	padding-top: 19px;
}
.footsize{
	width: 100%;
}
.popu{
	width: 86%;
}