@media screen and (max-width: 1023px)
{

.contient{
	flex-direction: column-reverse;
	width: 100%;
}

.heberge{
	width: 98%;
}
.dimact{
	width: 113%;
	flex-wrap: wrap;
}
.tour{
	margin-left: 10px;
}
.heblue{
	padding-top: 19px;
}
.footsize{
	width: 100%;
}
.dimheberge{
	margin-top: 20px;
	margin-left: 80px;
}
.haut{
	width: 100%;
}
}