h1
{
	font-size: medium;
}

h2, h5, .Affiche, .changefoot
{
	font-size: x-small;
}
@font-face
{
	font-family:'raleway_light';
	src: url('Raleway-ExtraLight.ttf');
}

h2, .Affiche, .changefoot
{
	font-family:'raleway_light';
}

@font-face 
{
	font-family:'raleway_gras';
	src: url('Raleway-Bold.ttf');
}

h1, h3, h4, .bas, label, .gras, .sublue
{
	font-family: 'raleway_gras';
}
h4, .bas
{
	font-size: small;
}
.bas
{
	margin-left: -40px;
}

.haut
{
	display: flex;
	justify-content: space-between;
}

.long
{
	font-size: small;
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	width: 70%
}

.Affiche
{
	display: flex;
	justify-content: space-between;
}

.margehaut
{
	margin-left: 60px;
	margin-right: 25px;
}

.heberge, aside
{
	background-color: #F2F2F2;
	border-radius: 10px / 10px;
}

footer
{
	background-color: #F2F2F2;
}

.foot
{
	list-style-type: none;
}

.changefoot
{
	display: flex;
	justify-content: space-between;
	width: 60%
}

a, .foot 
{
	text-decoration: none;
	color: black;
}

.margin
{
	margin-bottom: 5px;
}

.sublue, .heblue
{
	color: #0065FC;
}

.fa-info
{
	font-size: 7px;
	color: #0065FC;
	margin-right: 5px;
	border-radius: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #F2F2F2;
	padding: 3px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
	color: #0065FC;
	font-size: 13px;
	margin-right: 10px;
	margin-left: -6px;
	border-radius: 100%;
	background-color: #deebff;
	padding: 7px;
}

.fa-map-marker-alt
{
	margin-right: 5px;
	margin-left: -1px;
	font-size: 12px;
	background-color: #F2F2F2;
	padding: 12px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.reche
{
	margin-left: 12px;
	font-size: 12px;
	background-color: #0065FC;
	color: white;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 12px;
}

.tour1
{
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	padding: 5px;
	border-radius: 15px;
}

.Recherche
{
	border-style: solid;
	border-color: #F2F2F2;
	border-width: 2px;
	border-radius: 11px;
	width: 293px;
}

.eco 
{
	margin-left: -5px;
}