h1
{
	font-size: medium;
}

h2, h5, .Affiche, .changefoot
{
	font-size: small;
}
@font-face
{
	font-family:'raleway_light';
	src: url('Police/Raleway-ExtraLight.ttf');
}

h2, .Affiche, .changefoot
{
	font-family:'raleway_light';
}

@font-face 
{
	font-family:'raleway_gras';
	src: url('Police/Raleway-Bold.ttf');
}

h1, h3, h4, .bas, label, .gras, .sublue
{
	font-family: 'raleway_gras';
}
h4, .bas
{
	font-size: small;
}

.haut
{
	display: flex;
	justify-content: space-between;
	width: 97%;
}

.long
{
	font-size: small;
	display: flex;
	list-style-type: none;
}

.filtres
{
	margin-top: 15px;
}

.plus
{
	margin-top: 25px;
	margin-bottom: 10px;
	margin-left: 25px;
}

.Affiche
{
	display: flex;
	justify-content: space-between;
}

.margehaut
{
	margin-left: 60px;
	margin-right: 25px;
}

.heberge
{
	background-color: #F2F2F2;
	border-radius: 15px / 15px;
	margin: 17px;
}

.popu
{
	background-color: #F2F2F2;
	border-radius: 15px / 15px;
	margin-left: 10px;
}

footer
{
	background-color: #F2F2F2;
}

.foot
{
	list-style-type: none;
	margin-bottom: 20px;
}

.changefoot
{
	display: flex;
	justify-content: space-between;
	width: 65%
}

a, .foot 
{
	text-decoration: none;
	color: black;
}

.margin
{
	margin-bottom: 5px;
}

.sublue, .heblue
{
	color: #0065FC;
}

.fa-info
{
	font-size: 7px;
	color: #0065FC;
	margin-right: 5px;
	border-radius: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: #F2F2F2;
	padding: 3px;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
	color: #0065FC;
	font-size: 18px;
	margin-right: 10px;
	margin-left: -5px;
	border-radius: 100%;
	background-color: #deebff;
	padding: 10px;
}

.fa-map-marker-alt
{
	margin-right: 5px;
	margin-left: -1px;
	font-size: 12px;
	background-color: #F2F2F2;
	padding: 12px;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.reche
{
	margin-left: 12px;
	font-size: 12px;
	background-color: #0065FC;
	color: white;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 12px;
}

.tour1
{
	border-style: solid;
	border-width: 1px;
	border-color: #d9d9d9;
	padding-right: 18px;
	padding-left: 4px;
	border-radius: 100px;
	margin-left: 80px;
}

.Recherche
{
	border-style: solid;
	border-color: #F2F2F2;
	border-width: 2px;
	border-radius: 11px;
	width: 293px;
}

.photo2
{
	width: 220px;
	height: 110px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin: -26px;
}

.dimheberge
{
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	justify-content: space-between;
}

.heberge
{

	width: 79%;
}

.contient
{
	display: flex;
	width: 99%;
}

.photo1
{
	margin: 30px;
}

.dimpopu
{
	display: flex;
	flex-direction: column;
}

.auberge
{
	border-radius: 15px;
	background-color: white;
	box-shadow: 2px 2px 10px grey;
	margin: 17px;
}

.aub1
{
	margin-left: 10px;
	flex-wrap: nowrap;
}

.aub2
{
	font-size: small;
}
.aub3
{
	font-size: small;
	margin-left: 10px;
}

.fa-star
{
	color: #0065FC;
	font-size: 11px;
	margin-bottom: 10px;
}

.gras
{
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 30px;
}

.photo3
{
	width: 125px;
	height: 128px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.pluspopu
{
	border-radius: 15px;
	background-color: white;
	display: flex;
	padding-top: 3px;
	padding-left: 3px;
	box-shadow: 2px 2px 10px grey;
	margin: 20px;
	margin-bottom: 25px;
	width: 90%;
}

.dimact
{
	display: flex;
	justify-content: space-between;
	width: 107%;
	margin-left: -40px;
}

.photo4
{
	width: 280px;
	height: 420px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.photo5
{
	width: 280px;
	height: 150px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.dimact2
{
	display: flex;
	flex-direction: column;
}

.logopopu
{
	display: flex;
	justify-content: space-between;
}
.ombre
{
	box-shadow: 2px 2px 10px #F2F2F2;
	border-radius: 15px;
	margin: 40px;
}

.titreact
{
	margin-bottom: -20px;
}
.marseille
{
	margin-top: 36px;
	margin-bottom: -1px;
	margin-left: 10px;
}
.Afficherplus
{
	margin-left: 20px;
	margin-bottom: 40px;
}
.pluspopulaire
{
	margin-top: 36px;
	margin-bottom: -1px;
	margin-left: 20px;
}
.fa-chart-line
{
	margin-top: 36px;
	margin-right: 10px;
}
.etoilebas
{
	margin-top: 34px;
}
.etoilebas2
{
	margin-top: 46px;
}
.stargrey
{
	color: #F2F2F2;
}