h1
{
	font-size: medium;
}

h2, h5
{
	font-size: xx-small;
}
h4
{
	font-size: small;
}

@font-face {
	font-family:'raleway_light';
	src: url('Raleway-ExtraLight.ttf');
}

h2, h5
{
	font-family: 'raleway_light';
}

@font-face {
	font-family:'raleway_gras';
	src: url('Raleway-Bold.ttf');
}

h1, h3, h4
{
	font-family: 'raleway_gras'
}
