h1
{
	font-size: medium;
}

h2, h5, .Affiche
{
	font-size: x-small;
}
@font-face {
	font-family:'raleway_light';
	src: url('Raleway-ExtraLight.ttf');
}

h2, h5, .Affiche
{
	font-family: 'raleway_light';
}

@font-face {
	font-family:'raleway_gras';
	src: url('Raleway-Bold.ttf');
}

h1, h3, h4, .bas, label
{
	font-family: 'raleway_gras';
}
h4, .bas
{
	font-size: small;
}

.haut
{
	display: flex;
	justify-content: space-between;
}

ul
{
	font-size: small;
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: 50%
}

.Affiche
{
	display: flex;
	justify-content: space-between;
}
